modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["jq"]

[deployment]
run = ["pnpm", "run", "start"]
deploymentTarget = "autoscale"
build = ["pnpm", "run", "build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38245
externalPort = 3002

[[ports]]
localPort = 38945
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 44070616
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend Server"

[[workflows.workflow]]
name = "Frontend Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
