modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["jq"]

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35989
externalPort = 3002

[[ports]]
localPort = 37479
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 44070616
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Game"

[[workflows.workflow]]
name = "Dev Server"
author = 47845444
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Game"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true
